.r1{
border:2px;
}
.r2{
border:2px;
background-image:url('blue.jpg');
background-size:100% 100%;
}
.phone{
border:2px;
width:20%;
margin-left:10%;
margin-top:1%;
padding-top:2%;
}

.cont{
height:50%;
width:40%;
border:2px;
color:white;
text-align:center;
margin-left:10%;
margin-top:10%;
margin-bottom:10%;
}
.r3{
border:2px;
height:40%;
background-color:lightgrey;
}
.img{
border:2px;
height:100%;
width:25%;
float:left;
text-align:center;
}
.rimg{
border:2px;
height:70%;
width:50%;
border-radius:100%/100%;
margin-top:10%;
}
.r4{
border:2px;
padding-top:2%;
}
.r5{
border:2px;
}
.r6{
border:2px;
text-align:center;
background-image:url('blue.jpg');
color:white;
}

